.gallery-body {
    position: fixed;
    top: 15vmin;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0,0,0, 0.7) 0%, rgba(125,125,125, 0.7) 58%, rgba(252,255,255, 0.7) 100%);
}
.gallery-hidden {
    position: fixed;
    top: 15vmin;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0,0,0, 0.7) 0%, rgba(125,125,125, 0.7) 58%, rgba(252,255,255, 0.7) 100%);
    display: none;
}

.close-modal {
    position: fixed;
    top: 15vmin;
    right: 2.5vmin;
    color: black;
    font-weight: 900;
}

.close-modal:hover {
    cursor: pointer;
}

.modal-img {
    height: 70vh;
    width: auto;
    margin: 0 2.5vmin;
}
.modal-vid {
    /* height: 70vmin; */
    /* width: auto; */
    margin: 0 2.5vmin;
    /* padding-top: 56.25%; */
}

video {
    height: 70vh;
}

.images {
    padding: 5vmin;
    display: flex;
    overflow: scroll;
}



@media (max-width: 1000px) {
    video {
        max-height: 70vh;
    }

    .modal-img {
        max-height: 70vh;
        width: auto;
        margin: 0 2.5vmin;
    }

    #wideimg {
        max-width: 90vw;
        height: auto;
    }
    
}