@import url('https://fonts.googleapis.com/css?family=Amiko');




.home-body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: url('../images/birds-black-and-white-black-and-white-1229102.jpg') center center no-repeat;
    background-size: cover;
    font-family: 'Amiko', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.home-content {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    /* height: 100%; */
    color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-clip: text; */
}

.home-content img {
    width: 80%;
    height: auto;
    padding-top: 20vmin;
    filter: drop-shadow(5px 5px 2px black);
}
