@import url('https://fonts.googleapis.com/css?family=Amiko');

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vmin;
    /* left: 0px;
    top: 0px; */
    display: flex;
    padding: 2.5vmin .5vmin;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Amiko', sans-serif;
    color: white;
    z-index: 5;
    background-color: black;

}

.name-logo h3 {
    font-size: 4vmin;
    font-weight: 100;
    margin-bottom: 0;
}
.name-logo img {
    width: 25vmin;
    height: auto;
}


b {
    font-weight: 900;
}

.menuList {
    padding: 2.5vmin;
    display: flex;
    align-items: flex-end;
    /* width: 40vw; */
    font-size: 1.5vw;
    margin-right: 2.5vw;
}

.menuList a {
    color: white;
    text-decoration: none;
    
    

}

.menuList a:hover {
    /* text-shadow: 01px 01px 15px whitesmoke; */
    /* text-shadow: 0px 02.5px 5px whitesmoke; */
    font-weight: 900;
    /* font-size: 1.75vw; */
    transform: translate(0, -10px);
}
.menuList li:hover {
    transform: translate(0, -2.5px);
}

#home-btn:hover {
    /* text-shadow: 01px 01px 15px whitesmoke; */
    cursor: pointer;
    font-weight: 900;
    /* font-size: 1.75vw; */
    transform: translate(0, -2.5px);
}


li {
    margin: 0 1vmin;
}
/* button {
    background-color: transparent;
    color: white;
    border: 0;
} */

#menuIcon:hover {
    transform: translate(0, -2.5px);
}
#mobileMenu {
    display: none; 
}


/* @media (max-width: 800px) {
    .menuList {
        flex-direction: column;
        margin-right: 5vw;
        width: 30vw;
        font-size: 4vw;
        padding-top: 5vh;
        background-color: black;
        color: black;
        margin-top: 5vw;
        
        
    }

    .menuList li {
        margin-top: .5vw;
        background-color: #FFFFFF40;
        padding: 2.5vw 0;
        width: 100%;
        border-right: 5px solid white;
        
    }
    
    

    #mobileMenu{
        display: inline;
        position: fixed;
        top: 2.5vw;
        right: 2.5vw;
        width: 10vw;
        height: auto;
        
    }

} */



@media (max-width: 800px) {
    .menuList {
        font-size: 2.25vw;
    }
    .menuList img {
        width: 2.5vw;
        height: auto;
    }

    .menu-container {
        padding: 2.5vmin .5vmin;
    }
}